* {
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
}

.clearfix {
    clear: both;
}

.A {
    color: red;
    font-size: 50px;
}

h2 {
    margin-left: 40px;
}

h1 {
    margin-left: 30px;
}

.nav-item {
    margin-right: 25px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.itm {
    display: none;
}

.section {
    background-color: rgb(229, 252, 252);
    margin-left: 40px;
}

#main {
    margin-left: 40px;
}

.btn {
    margin-left: 40px;
}


/*about part*/

.name {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 50px;
    font-family: fantasy;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

.touch {
    position: absolute;
    z-index: 2;
}

.abt {
    margin-top: 15%;
    letter-spacing: 7px;
    font-family: "Poppins";
    color: #333;
    font-weight: 700;
}

hr {
    border: 1px solid black;
    background-color: black;
}

.first {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

/*education part*/

.educol1 {
    margin-top: 50px;
}

.educol2 {
    margin-top: 35px;
}

.year {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .05);
    ;
    padding: 5px;
    margin-top: 40px;
    margin-left: 40px;
}

/*socialmedia*/
.centerdiv {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.centerdiv a {
    height: 100px;
    width: 100px;
    background-color: rgb(244, 249, 247);
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px rgb(137, 143, 141);
}

a i {
    transition: all 0.3s linear;
}

a :hover {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-youtube {
    color: #f03506;
}

.fa-linkedin {
    color: #0097e6;
}

/*skill page*/
.skill {
    margin-top: 15%;
}

/*contact page*/

.cont {
    margin-top: 15%;
}

.info {
    margin-top: 10px;
}

form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    background-color: #f8d9d9;
}

#email {
    margin-top: 20px;
    margin-bottom: 20px;
}

#message {
    height: 150px;
    margin-bottom: 20px;
}

/*project part*/
.wedding {
    text-align: center;
    font-family: fantasy;
    font-size: larger;
}

/*contact page*/
.contact ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.form {
    position: relative;
    z-index: 2;
}

.box1 {

    border: 2px solid rgb(89, 86, 86);
    margin: 5%;
}

.box2 {

    border: 2px solid rgb(89, 86, 86);
}

.box3 {

    border: 2px solid rgb(89, 86, 86);
}

/*footer part*/

.copy {
    margin-left: 50px;
    margin-top: 20px;
}

.icon {
    margin-left: 70%;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    display: flex;
}

.icon a {
    margin-left: 15px;
}


/*mouse cruser*/

.cursor {
    height: 15px;
    width: 15px;
    position: fixed;
    background-color: darkred;
    border-radius: 50%;
    box-shadow: 0 0 20px darkred,
        0 0 20px darkred,
        0 0 20px darkred;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    animation: colors 5s infinite;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor::before {
    content: '';
    position: absolute;
    background-color: darkred;
    height: 50px;
    width: 50px;
    opacity: 0.2;
    transform: translate(-35%, -35%);
    border-radius: 50%;
}

div:hover~.cursor {
    transform: scale(1.5);
}